[store]
[store.primary]
connection = "postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}"
pool_size = 10

[store.indexer]
connection = "postgresql://${DB_USER}:${DB_PASSWORD}@postgres-indexer:5432/${DB_NAME}"
pool_size = 10

[chains]
ingestor = "index_node_${CHAIN_NAME}"

[chains.goerli]
shard = "indexer"
ingestor = "index_node_goerli"
provider = [ { label = "goerli", url = "${GOERLI_RPC}", features = ["archive"] } ]

[chains.${CHAIN_NAME}]
shard = "primary"
ingestor = "index_node_${CHAIN_NAME}"
provider = [ { label = "${CHAIN_NAME}", url = "${CHAIN_RPC}", features = ["archive", "traces"] } ]

[deployment]
[[deployment.rule]]
match = { network = "goerli" }
indexers = [ "index_node_goerli ]

[[deployment.rule]]
match = { network = "$CHAIN_NAME" }
indexers = [ "index_node_${CHAIN_NAME}" ]

[[deployment.rule]]
shard = [ "primary" ]
indexers = [ "index_node_goerli" ]

[general]
query = "query_node_*"
